


<html>

<head>

</head>
<style>
    tr:nth-child(even),
    table.list thead>tr {
        background-color: #dddddd;
    }

    h2{
        text-align: center;
    }
</style>

<body>
    <div class="container">
    <h2> Number of Student = {{students.length}}</h2>
    <hr>
        <table  class="table table-striped"  >
       
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
               
            </tr>
          
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
               
                <td><input type="button" class="btn btn-danger" value="delete" (click)="deleteHandler(student.id,student)">
                
              <button class="btn btn-info" style="margin-left: 10px;" >  <a  [routerLink]="['/editStudent',student.id]">Edit</a>   
              </button>
                </td>
            </tr>
        </tbody>
        </table>

        <button class="btn btn-primary" (click)="logoutHandler()">Logout</button>
    </div>
</body>


</html>